  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Image Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.jpg') }}">
  </head>
  <body>
    <main>
      <h1>AI Image Generator</h1>
      <form id="imageForm">
        <label for="prompt">Enter a prompt:</label>
        <div id="promptContainer">
          <input type="text" id="prompt" name="prompt" required>
          <button type="button" id="randomPromptButton">Random</button>
        </div>
        <div id="imageContainer">
          <img id="" src="" alt="" style="display: none;">
        </div> 
        <button type="submit" id="generateImageButton", href="#end">Generate Image</button>
        <p id="error" style="display: none;">Unknown Error</p>
      </form>
      <section id="end"></section>
    </main>
    <div id="bottom">
      <a href="{{ url_for('static', filename='index.html') }}">What is this?</a>
    </div>
    <script>
      const imageForm = document.getElementById('imageForm');
      const imageContainer = document.getElementById('imageContainer');
      const imageElement = document.querySelector('img');
      const errorFeedback = document.getElementById('error');
      const promptInput = document.getElementById('prompt');
      const generateButton = document.getElementById('generateImageButton');

      const randomPromptButton = document.getElementById('randomPromptButton');
      const generatingPrompt = document.getElementById('generatingPrompt');
      
      imageForm.addEventListener('submit', async (event) => {
        event.preventDefault();
        imageElement.style.display = 'none'; 
        promptInput.disabled = true; 
        generateButton.textContent = "Generating image... (~20 seconds)"
        generateButton.disabled = true;
        randomPromptButton.style.display = 'none';
        errorFeedback.style.display = 'none'; 
        
        const prompt = promptInput.value;
        const response = await fetch('/generate_image', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ prompt: prompt })
        });

        if (!response.ok)
        {
          errorFeedback.style.display = 'block';
          errorFeedback.textContent = `Error ${response.status}: ${response.statusText}`;
          Hide();
        }
        else
        {
          const imageURL = URL.createObjectURL(await response.blob());
          imageElement.src = imageURL;
          imageElement.onload() = () => Hide();
        };

        function Hide() {
            imageElement.style.display = 'block'; 
            promptInput.disabled = false; 
            generateButton.disabled = false;
            generateButton.textContent = "Generate image"
            randomPromptButton.style.display = 'inline';
            window.scrollTo(0, document.body.scrollHeight);
          }
      });

      randomPromptButton.addEventListener('click', async () => {
        promptInput.disabled = true; // Disable prompt input
        generateButton.style.display = 'none'; // Hide the submit button
        randomPromptButton.textContent = 'Generating...'
        randomPromptButton.disabled = true; 
        errorFeedback.style.display = 'none'; 

        let currentPrompt = '';
        let finished = false;
        let finalPrompt = '';
        let timeout = 20;
        while (!finished && timeout > 0) {
          const response = await fetch(`/generate_random_prompt?current_prompt=${currentPrompt}`, {
            method: 'GET',
          });

          if (!response.ok) {
            errorFeedback.style.display = 'block';
            errorFeedback.textContent = `Error ${response.status}: ${response.statusText}`;
          } else {
            const data = await response.json()
            if (data.error != null) {
              errorFeedback.style.display = 'block';
              errorFeedback.textContent = `Error: ${data.error}`;
              break
            }

            promptInput.value = data.prompt;
            currentPrompt = data.full_prompt;
            finished = data.finished;

            timeout--;
          }
        }
        promptInput.disabled = false; // Enable prompt input
        generateButton.style.display = 'block'; // Show the submit button
        randomPromptButton.disabled = false; 
        randomPromptButton.textContent = 'Random'
      });
    </script>
  </body>
  </html>
