* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


html {
    scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

main {
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  text-align: center;
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
  margin-bottom: 30px;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

label {
  margin-bottom: 10px;
}

#promptContainer {
  width:100%;
  margin-bottom: 10px;
  display:flex;
}

input[type="text"] {
  width: 100%; 
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px; 
}

button {
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  padding: 8px 20px; 
  margin-left: 10px;
}

button:disabled {
  background-color: #0056b3;
  cursor:auto;
}

#randomPromptButton {
  display:inline;
  vertical-align: middle;
}

#generatingPrompt {
  margin-bottom: 10px
}

button:hover {
  background-color: #0056b3;
}

#imageContainer {
width: 100%;
max-width: 500px;
margin: 0 auto;
display: flex;
justify-content: center;
align-items: center;
}

#generatedImage {
max-width: 100%;
max-height: 100%;
display: block;
margin: 0 auto;
}
  
#error {
  color: red;
  padding-top: 10px;
}